.mail {
  flex: 0.8;
  background-color: whitesmoke;
  width: 0;
}

.mainTools {
  background-color: white;
  padding: 0.75rem 0.6rem;
  display: flex;
  justify-content: space-between;
}

.main__bodyContainer {
  background-color: white;
  margin: 2rem;
  height: 100vh;
  padding: 1.25rem;
}

.mail__bodyHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.main__bodyHeaderDetails {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.mail__important {
  color: orange;
}

.mail__message > p {
  overflow-wrap: break-word;
}
