.emaillist {
  flex: 0.8;
  padding: 0.75rem 0;
}

.emaillist__settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.6rem;
  border-bottom: 2px solid rgba(128, 128, 128, 0.189);
}

.emailList__sections {
  position: sticky;
  top: 0;
  display: flex;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
  color: grey;
}

.emailSection {
  width: 175px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: 15px;
  font-size: 14px;
}

.section--selected {
  background-color: whitesmoke;
  border-width: 3px !important;
}

.emailSection:hover {
  background-color: whitesmoke;
  border-width: 3px !important;
}

.emailRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: grey;
  padding: 0.2rem 0.5rem;
  padding-right: 1.25rem;
  cursor: pointer;
  border-radius: 4px;
}

.emailRow:hover {
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
}

.emailRow__left {
  display: flex;
  align-items: center;
}

.emailRow__left > p,
.emailRow__middle > p,
.emailRow__right > p {
  font-weight: bold;
  color: black;
}

.emailRow__middle {
  display: flex;
  gap: 2px;
}
